@model InmobiliariaUrquiULP_v1.Models.Propietario
@{
	ViewData["Title"] = "Detalle del Propietario";
}
<div class="ancho-850 border-bottom box-shadow">
	<div class="text-center">
		<h1 class="display-4">Detalles de Propietario</h1>
	</div>
</div>
<div class="pt-4">
	<table class="table ancho-850">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.IdPropietario)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Dni)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Apellido)
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.IdPropietario)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Dni)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Apellido)
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table ancho-850">
		<thead>
			<tr>
				<th colspan="2">
					@Html.DisplayNameFor(model => model.Telefono)
				</th>
				<th colspan="2">
					@Html.DisplayNameFor(model => model.Email)
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2">
					@Html.DisplayFor(modelItem => Model.Telefono)
				</td>
				<td colspan="2">
					@Model.Email
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="pt-4">
	<table class="table ancho-850">
		<thead>
			<tr>
				<th>
					Acá va el detalle de los inmuebles que tiene para alquilar
				</th>
			</tr>
		</thead>
	</table>
</div>
<div class="form-group ancho-850 flex justify-content-evenly pt-4 pb-3">
	<a asp-area="" asp-controller="Propietario" asp-action="FormAM" asp-route-id="@Model.IdPropietario"
		class="btn btn-outline-dark" />Editar datos</a>
	<a asp-area="" asp-controller="Propietario" asp-action="Index" class="btn btn-outline-secondary" />Volver</a>
</div>